$form-height-base: 34px !default;

/* Typography
-------------------------- */
$--font-size-base: 12px !default;
$--font-size-small: 12px !default;
$--font-size-medium: 14px !default;
$--font-size-large: 16px !default;


/* Color
-------------------------- */
$--color-primary: #409eff !default;

$--color-white: #fff !default;

$--color-success: #77cda2 !default;

$--color-warning: #f4a04b !default;

$--color-danger: #f78080 !default;

$--color-info: #999 !default;

$--color-text-primary: #333 !default;

$--color-text-regular: #666 !default;

$--color-text-secondary: #999 !default;

$--color-text-placeholder: #c0c4cc !default;

$--border-color-base: #e8e8e8 !default;

$--border-radius-base: 3px !default;

$--border-radius-small: 2px !default;


/* Disable base
-------------------------- */

$--disabled-border-base: $--border-color-base !default;

/* Menu
--------------------------*/
$--menu-item-hover-fill: #4381e6 !default;

/* Table
-------------------------- */
$--table-border-color: #e6e6e6 !default;
$--table-header-color: $--color-text-regular !default;
$--table-header-background-color: #f2f2f2 !default;

/* Dialog
-------------------------- */
$--dialog-font-size: $--font-size-base !default;
$--dialog-title-font-size: $--font-size-medium !default;

/* Pagination
-------------------------- */
$--pagination-font-size: $--font-size-base !default;

/* MessageBox
-------------------------- */
$--msgbox-font-size: $--font-size-base !default;

/* Tab
-------------------------- */
$--tab-border-line: 1px solid $--border-color-base !default;



/* 自定义变量
-------------------------- */

$title-color: rgba(0, 0, 0, .85) !default;

// 头部高度
$layout-header-height: 56px;

$layout-main-height: calc(100vh - 56px);

// 侧栏宽度
$layout-siderbar-width: 200px;

// 间距按 8 的倍数递增
$base-space: 8px;

// 侧边栏item 背景色
$menu-item-title-bg: #f0f3fa;

// 表单边框
$-boder-style: 1px solid #dcdfe6;
